html {
    background: rgb(240, 212, 209);
    
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 30px;
    line-height: 1.8em;
    letter-spacing: -0.01em;
    font-family: monospace, 'Courier New', Courier;
    font-size: 16px;
    word-wrap: break-word;
    min-height: 100vh;
}

p {
    word-wrap: break-word;
}

h1,
h2 {
    font-size: 25px;
    font-weight: 600;
}

a:hover,
a:focus {
    text-decoration: none;
    transition: all ease-in-out 250ms;
    font-weight: bold;
}